displayName: Sample Web App ({{ name }})
signInAudience: AzureADMyOrg
web:
  redirectUris: [{% for item in (environment.Variables.web_redirectUris | default([])) %}"{{ item }}"{% if not loop.last %}, {% endif %}{% endfor %}]
  redirectUriSettings: [{% for item in (environment.Variables.web_redirectUris | default([])) %}{"uri": "{{ item }}", "index": null}{% if not loop.last %}, {% endif %}{% endfor %}]
publicClient:
  redirectUris: [{% for item in (environment.Variables.publicClient_redirectURIs | default([])) %}"{{ item }}"{% if not loop.last %}, {% endif %}{% endfor %}]
spa:
  redirectUris: [{% for item in (environment.Variables.spa_redirectURIs | default([])) %}"{{ item }}"{% if not loop.last %}, {% endif %}{% endfor %}]
requiredResourceAccess:
  - resourceAppId: 00000003-0000-0000-c000-000000000000
    resourceAccess:
      - id: e1fe6dd8-ba31-4d61-89e7-88639da4683d
        type: Scope
  - resourceAppId: "{{ dependency_refs.SampleAPIApp.applicationId }}"
    resourceAccess:
      - id: somevalue.else
        type: Scope
      - id: DiffernetValue
        type: Scope
