displayName: Sample API ({{ name }})
signInAudience: AzureADMyOrg
web:
  redirectUris: [{% for item in (environment.Variables.web_redirectUris | default([])) %}"{{ item }}"{% if not loop.last %}, {% endif %}{% endfor %}]
  redirectUriSettings: [{% for item in (environment.Variables.web_redirectUris | default([])) %}{"uri": "{{ item }}", "index": null}{% if not loop.last %}, {% endif %}{% endfor %}]
publicClient:
  redirectUris: [{% for item in (environment.Variables.publicClient_redirectURIs | default([])) %}"{{ item }}"{% if not loop.last %}, {% endif %}{% endfor %}]
spa:
  redirectUris: [{% for item in (environment.Variables.spa_redirectURIs | default([])) %}"{{ item }}"{% if not loop.last %}, {% endif %}{% endfor %}]
requiredResourceAccess:
  - resourceAppId: 00000003-0000-0000-c000-000000000000
    resourceAccess:
      - id: df021288-bdef-4463-88db-98f22de89214
        type: Role
api:
  oauth2PermissionScopes:
    - id: "{{ environment.Variables.MyScopeId }}"
      adminConsentDescription: sdsd
      adminConsentDisplayName: sdsds
      isEnabled: true
      type: Admin
      userConsentDescription: ""
      userConsentDisplayName: ""
      value: somevalue.else
    - id: "{{ environment.Variables.SecondScope }}"
      adminConsentDescription: dsdfsdf
      adminConsentDisplayName: sdfsdsgsf
      isEnabled: true
      type: Admin
      userConsentDescription: sdfsdf
      userConsentDisplayName: sdfsfd
      value: DiffernetValue
