displayName: Sample API ({{ name }})
signInAudience: AzureADMyOrg
requiredResourceAccess:
  - resourceAppId: 00000003-0000-0000-c000-000000000000
    resourceAccess:
      - id: df021288-bdef-4463-88db-98f22de89214
        type: Role
api:
  oauth2PermissionScopes:
    - id: "{{ environment.Variables.MyScopeId }}"
      adminConsentDescription: sdsd
      adminConsentDisplayName: sdsds
      isEnabled: true
      type: Admin
      userConsentDescription: ""
      userConsentDisplayName: ""
      value: something2
    - id: "{{ environment.Variables.SecondScope }}"
      adminConsentDescription: dsdfsdf
      adminConsentDisplayName: sdfsdsgsf
      isEnabled: true
      type: Admin
      userConsentDescription: sdfsdf
      userConsentDisplayName: sdfsfd
      value: DiffernetValue
